<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="stylesheet" rel="/public/css/club.css">
    <title></title>
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg p-0">
        <div class="container-fluid text-bg-warning p-3">
          <a class="navbar-brand text-black" href="/views/main.html">clubBook</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
          </div>
        </div>
      </nav> -->
<!-- main? -->

        <!-- <div class="row"> -->
          <div class="container text-center">
            <div id="create" class="col">
                <h2>Welcome to Your Club</h2>
                <!-- <h6>*Requires account create/login</h6> -->
                <div class="form-floating mb-3">
                    <input type="userName" class="form-control" id="userName" placeholder="UserName">
                    <label for="floatingInput">Club Name</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Club Description</label>
                </div>
                <br>
                <div class="form-floating"> 
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Club Members</label>
                  <!-- <ol> 
                    <li>Micheal Scott</li>
                    <li>Stanley Hudson</li>
                    <li>Dwight Schrute</li>
                    <li>Jim Halpert</li>
          




                  </ol> -->
              </div>
                <!-- <button type="button" class="btn btn-outline-primary">Create Club</button> -->
            </div>
          </div>
            <!-- <div id="search" class="col">
                <h2>Search-a-Club</h2>
                <br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Club Name" aria-label="Club Search"
                        aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button> -->
<!-- <div class="container-fluid">
  <h1>clubBook</h1>
</div>

<div class="container">
      <h2>CLUB Name</h2>
      <br></br>
      CLUB IMAGE
      CLUB Description
      Club Members
</div> -->

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="ClubBook/images/beach-yoga.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="ClubBook\images\hiking.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      <!-- one random carousel -- js for this...script here
      another js for the form/buttons -->
      <script src="public/js/carousel.js"></script>
</body>
</html>