<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create and Registar a New Club:</h3>

    <form class="form new-club-form">
      <div class="form-group">
        <label for="club-name">club name:</label>
        <input class="form-input" type="text" id="club-name" name="club-name" />
      </div>
      <div class="form-group">
    
      </div>
      <div class="form-group">
        <label for="club-desc">description:</label>
        <textarea class="form-input" id="club-desc" name="club-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if clubs.length}}
  <div class="col-md-6 project-list">
    <h3>Current Clubs:</h3>

    {{#each clubs as |club|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/club/{{club.id}}">{{club.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{club.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>