.bg {
   
    background-image:url(../images/beach-yoga.jpg);

    height: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;
    max-width: fit-content;
} 
h3,
h4 {
    font-weight: 700;
}
