/* :root {
  --light: #f6f6f6;
  --darkblue: #2c3e50;
  --lightblue: #3498db;
  --red: #e74c3c;
  --lightred: #f9eae7;
  --lightyellow: #fff5d1;
} */
/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
h2,
h6 {
    font-weight: 700;
}
/* body {
    background-image:url(../images/hiking.jpg);
    height: auto;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* border-image-repeat: no-repeat; */
    /* align-content: space-around; */
 /*} */


.bg {
    /* background-image: url("/images/Boardwalk\ over\ ocean.jpg"); */
    /* background-image:url("../images/hiking.jpg"); */

    height: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;
    max-width: fit-content;
} 
/* .login.html {
    /* background-image: url(../images/hiking.jpg); */

    /* height: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;
    max-width: fit-content;
} */ 