
/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
h2,
h6 {
    font-weight: 700;
}

.bg {
    /* background-image: url("/images/Boardwalk\ over\ ocean.jpg"); */
    /* background-image:url("../images/hiking.jpg"); */

    height: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;
    max-width: fit-content;
} 
/* .login.html {
    /* background-image: url(../images/hiking.jpg); */

    /* height: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;
    max-width: fit-content;
} */ 