/* header {
    border-bottom: 5px solid lightblue;
}
h1 {
    color: black;
    text-align: center;
    font-size: 3px;
}

h2 {
    font-size: 2px;
}
h3 {
    font-size: 1.75px;
} */
body {
    background-image: url("/ClubBook/images/bird-watching.avif");
}