header {
    border-bottom: 5px solid lightblue;
}
h1 {
    color: black;
    text-align: center;
    font-size: 3px;
}

/* header {
    background-color: lightblue;
    font-size: 25px;
    color: black;
} */
h2 {
    font-size: 2px;
}
h3 {
    font-size: 1.75px;
}